<div class="section" id="about">
	<div class="container">
		<p>The conference is the first attempt of a science event concerning IT issues organized at the Witelon State University of Applied Sciences in Legnica, Poland. University staff representatives of business and education units, with PhD students are cordially invited to the conference. During the conference participants will be able to share their views and ideas, present the results of their researches, mainly but not only, in the appointed areas, especially in:</p>

		<ul class="collection">
			<li class="collection-item">
				<i class="material-icons light-blue-text lighten-2">check</i>
				<span class="title">cloud computing areas and techniques</span>
			</li>
			<li class="collection-item">
				<i class="material-icons light-blue-text lighten-2">check</i>
				<span class="title">virtual techniques applications</span>
			</li>
			<li class="collection-item">
				<i class="material-icons light-blue-text lighten-2">check</i>
				<span class="title">implementation of educational problems</span>
			</li>
			<li class="collection-item">
				<i class="material-icons light-blue-text lighten-2">check</i>
				<span class="title">big data computing</span>
			</li>
			<li class="collection-item">
				<i class="material-icons light-blue-text lighten-2">check</i>
				<span class="title">high school management conceptions and applications</span>
			</li>
			<li class="collection-item">
				<i class="material-icons light-blue-text lighten-2">check</i>
				<span class="title">software license management</span>
			</li>
			<li class="collection-item">
				<i class="material-icons light-blue-text lighten-2">check</i>
				<span class="title">any software designing problems concerning conference areas</span>
			</li>
			<li class="collection-item">
				<i class="material-icons light-blue-text lighten-2">check</i>
				<span class="title">mathematical models of the computing clouds</span>
			</li>
		</ul>
		
		<p>Conference allows to present both theoretical and practical issues. So we invite not only university staff but also software designers with practical experience.</p>
	</div>
</div>
