<div class="section" id="contact">
	<div class="container">
		<div class="row">
			<h4>Registration form</h4>
			<form class="col s12 xl8 offset-xl2 scale-transition">
				<div class="row">
					<div class="input-field col s12" data-validation="name">
						<input id="personal-data-input" type="text">
						<label for="personal-data-input">Personal data <span class="error-bag"></span></label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12" data-validation="affiliation">
						<input id="affiliation-input" type="text">
						<label for="affiliation-input">Affiliation <span class="error-bag"></span></label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12" data-validation="email">
						<input id="email-input" type="email">
						<label for="email-input">E-mail address <span class="error-bag"></span></label>
					</div>
				</div>
				<div class="row">
					<div class="col s12" data-validation="reservation">
						<span class="error-bag"></span>
						<p>
							<input name="reservation" type="checkbox" id="first-day-only-radio-input" class="reservation-checkbox" value="First day only">
							<label for="first-day-only-radio-input">First day only</label>
						</p>
						<p>
							<input name="reservation" type="checkbox" id="second-day-only-radio-input" class="reservation-checkbox" value="Second day only">
							<label for="second-day-only-radio-input">Second day only</label>
						</p>
						<p>
							<input name="reservation" type="checkbox" id="both-days-radio-input" class="reservation-checkbox" value="First and second with 1 night">
							<label for="both-days-radio-input">First and second with 1 night</label>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12" data-validation="informations">
						<textarea id="additional-information-input" class="materialize-textarea"></textarea>
						<label for="additional-information-input">Additional information <span class="error-bag"></span></label>
					</div>
				</div>
				<div class="center-align">
					<a class="waves-effect waves-light btn-floating btn-large light-blue lighten-2 pulse" id="send">
						<i class="material-icons">send</i>
					</a>
				</div>
			</form>
		</div>
		<div class="row center-align scale-transition scale-out">
			<i class="large light-blue-text lighten-2 material-icons">mail_outline</i><br>
			Your registration form was send to organizators.
		</div>
	</div>
</div>