<div class="section no-pad-bot" id="details">
	<div class="container">
		<h4>Important date and fees</h4>
		<div class="row">
			<div class="col s12 l6">
				<ul class="collection">
					<li class="collection-item custom-collection-item avatar">
						<i class="material-icons light-blue lighten-2 circle">warning</i>
						<span class="title">30th May 2018</span>
						<p class="grey-text">send conference Registration Form or use mail registration address</p>
					</li>
					<li class="collection-item custom-collection-item avatar">
						<i class="material-icons light-blue lighten-2 circle">warning</i>
						<span class="title">30th June 2018</span>
						<p class="grey-text">send title and abstract of the conference lecture/paper</p>
					</li>
					<li class="collection-item custom-collection-item avatar">
						<i class="material-icons light-blue lighten-2 circle">warning</i>
						<span class="title">31st August 2018</span>
						<p class="grey-text">information to participants about detailed plan of the conference</p>
					</li>
				</ul>
			</div>
			<div class="col s12 l6">
				<ul class="collection">
					<li class="collection-item custom-collection-item avatar">
						<i class="material-icons light-blue lighten-2 circle">attach_money</i>
						<span class="title">40-60 PLN per person/night</span>
						<p class="grey-text">academy hotel room</p>
					</li>
					<li class="collection-item custom-collection-item avatar">
						<i class="material-icons light-blue lighten-2 circle">attach_money</i>
						<span class="title">Free</span>
						<p class="grey-text">the participation in the conference</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>