<div class="section" id="organization">
	<div class="container">
		<h4>Organization and contact</h4>
		<div class="row">
			<div class="col s12 l6">
				<h5>Organizing Chairs</h5>
				<ul class="collection">
					<li class="collection-item avatar">
						<i class="material-icons light-blue lighten-2 circle">assignment_ind</i>
						<span class="title">Aleksander Klosow</span>
						<p class="grey-text">Chair</p>
					</li>
					<li class="collection-item avatar">
						<i class="material-icons light-blue lighten-2 circle">assignment_ind</i>
						<span class="title">Piotr Nadybski</span>
						<p class="grey-text">Co-chair</p>
					</li>
					<li class="collection-item avatar">
						<i class="material-icons light-blue lighten-2 circle">assignment_ind</i>
						<span class="title">Kamila Sobecka</span>
						<p class="grey-text">Conference office</p>
					</li>
					<li class="collection-item avatar">
						<i class="material-icons light-blue lighten-2 circle">assignment_ind</i>
						<span class="title">Krzysztof Rewak</span>
						<p class="grey-text">Web administrator</p>
					</li>
				</ul>
				<h5>Secretariat</h5>
				<ul class="collection">
					<li class="collection-item avatar">
						<i class="material-icons light-blue lighten-2 circle">assignment_ind</i>
						<span class="title">Kamila Sobecka</span>
						<p class="grey-text">tel. +48 76 723 23 19</p>
						<p class="grey-text">ccv@pwsz.legnica.edu.pl</p>
						<p class="grey-text">ul. Sejmowa 5C, 59-220 Legnica</p>
					</li>
				</ul>
			</div>
			<div class="col s12 l6">
				<h5>Program Committee Chairs</h5>
				<ul class="collection">
					<li class="collection-item avatar">
						<i class="material-icons light-blue lighten-2 circle">assignment_ind</i>
						<span class="title">Wojciech Kordecki</span>
						<p class="grey-text">Chair</p>
					</li>
					<li class="collection-item avatar">
						<i class="material-icons light-blue lighten-2 circle">assignment_ind</i>
						<span class="title">Daniel Mazurkiewicz</span>
						<p class="grey-text">Chairman of ITMation</p>
					</li>
				</ul>
				<h5>Honorary Chairs</h5>
				<ul class="collection">
					<li class="collection-item avatar">
						<i class="material-icons light-blue lighten-2 circle">assignment_ind</i>
						<span class="title">prof. Ryszard K. Pisarski</span>
						<p class="grey-text">Rector of Witelon State University of Applied Sciences in Legnica</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>