<div class="section" id="organizers">
	<div class="container">
		<div class="row">
			<div class="col s12 l3 offset-l3">
				<a href="http://pwsz.legnica.edu.pl/" target="_blank">
					<img src="/images/pwsz.png">
				</a>
			</div>
			<div class="col s12 l3">
				<a href="http://itmation.pl/" target="_blank">
					<img src="/images/itmation.png">
				</a>
			</div>
		</div>
	</div>
</div>