<div class="section" id="participants">
	<div class="container">
		<h4>Participants</h4>
		<div class="row">
			<div class="col s12 l6">
				<ul class="collection">
                    <li class="collection-item avatar">
                        <i class="material-icons light-blue lighten-2 circle">person</i><span class="title">Jan Nowak</span>
                        <p class="grey-text">Participant</p>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons light-blue lighten-2 circle">person</i><span class="title">Jan Nowak</span>
                        <p class="grey-text">Participant</p>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons light-blue lighten-2 circle">person</i><span class="title">Jan Nowak</span>
                        <p class="grey-text">Participant</p>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons light-blue lighten-2 circle">person</i><span class="title">Jan Nowak</span>
                        <p class="grey-text">Participant</p>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons light-blue lighten-2 circle">person</i><span class="title">Jan Nowak</span>
                        <p class="grey-text">Participant</p>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons light-blue lighten-2 circle">person</i><span class="title">Jan Nowak</span>
                        <p class="grey-text">Participant</p>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons light-blue lighten-2 circle">person</i><span class="title">Jan Nowak</span>
                        <p class="grey-text">Participant</p>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons light-blue lighten-2 circle">person</i><span class="title">Jan Nowak</span>
                        <p class="grey-text">Participant</p>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons light-blue lighten-2 circle">person</i><span class="title">Jan Nowak</span>
                        <p class="grey-text">Participant</p>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons light-blue lighten-2 circle">person</i><span class="title">Jan Nowak</span>
                        <p class="grey-text">Participant</p>
                    </li>
				</ul>
            </div>
            <div class="col s12 l6">
                    <ul class="collection">
                        <li class="collection-item avatar">
                            <i class="material-icons light-blue lighten-2 circle">person</i><span class="title">Jan Nowak</span>
                            <p class="grey-text">Participant</p>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons light-blue lighten-2 circle">person</i><span class="title">Jan Nowak</span>
                            <p class="grey-text">Participant</p>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons light-blue lighten-2 circle">person</i><span class="title">Jan Nowak</span>
                            <p class="grey-text">Participant</p>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons light-blue lighten-2 circle">person</i><span class="title">Jan Nowak</span>
                            <p class="grey-text">Participant</p>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons light-blue lighten-2 circle">person</i><span class="title">Jan Nowak</span>
                            <p class="grey-text">Participant</p>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons light-blue lighten-2 circle">person</i><span class="title">Jan Nowak</span>
                            <p class="grey-text">Participant</p>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons light-blue lighten-2 circle">person</i><span class="title">Jan Nowak</span>
                            <p class="grey-text">Participant</p>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons light-blue lighten-2 circle">person</i><span class="title">Jan Nowak</span>
                            <p class="grey-text">Participant</p>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons light-blue lighten-2 circle">person</i><span class="title">Jan Nowak</span>
                            <p class="grey-text">Participant</p>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons light-blue lighten-2 circle">person</i><span class="title">Jan Nowak</span>
                            <p class="grey-text">Participant</p>
                        </li>
                    </ul>
            </div>
        </div>
	</div>
</div>