<div class="section" id="plan">
	<div class="container">
		<h4>The plan of the conference</h4>
		<div class="row">
			<div class="col s12 l6">
				<h5>20 September 2018, Thursday</h5>
				<ul class="collection">
					<li class="collection-item avatar">
						<i class="material-icons light-blue lighten-2 circle">access_time</i>
						<p class="grey-text">10:00-10:30</p>
						<span class="title">Registration of participants</span>
					</li>
					<li class="collection-item avatar">
						<i class="material-icons light-blue lighten-2 circle">access_time</i>
						<p class="grey-text">10:30-10:450</p>
						<span class="title">Opening of the conference</span>
					</li>
					<li class="collection-item avatar">
						<i class="material-icons light-blue lighten-2 circle">access_time</i>
						<p class="grey-text">11:00-13:00</p>
						<span class="title">Session 1 lecture</span>
					</li>
					<li class="collection-item avatar">
						<i class="material-icons light-blue lighten-2 circle">access_time</i>
						<p class="grey-text">13:00-13:30</p>
						<span class="title">Session 1 discussion</span>
					</li>
					<li class="collection-item avatar">
						<i class="material-icons light-blue lighten-2 circle">access_time</i>
						<p class="grey-text">15:00-17:00</p>
						<span class="title">Session 2 lecture</span>
					</li>
					<li class="collection-item avatar">
						<i class="material-icons light-blue lighten-2 circle">access_time</i>
						<p class="grey-text">17:00-18:00</p>
						<span class="title">Session 2 discussion</span>
					</li>
				</ul>
			</div>
			<div class="col s12 l6">
				<h5>21 September 2018, Friday</h5>
				<ul class="collection">
					<li class="collection-item avatar">
						<i class="material-icons light-blue lighten-2 circle">access_time</i>
						<p class="grey-text">10:00-12:00</p>
						<span class="title">Session 3 lecture</span>
					</li>
					<li class="collection-item avatar">
						<i class="material-icons light-blue lighten-2 circle">access_time</i>
						<p class="grey-text">12:00-12:45</p>
						<span class="title">Session 3 discussion</span>
					</li>
					<li class="collection-item avatar">
						<i class="material-icons light-blue lighten-2 circle">access_time</i>
						<p class="grey-text">12:45-13:00</p>
						<span class="title">Closing the conference</span>
					</li>
				</ul>

				<h5>Place</h5>
				<ul class="collection">
					<li class="collection-item avatar">
						<i class="material-icons light-blue lighten-2 circle">place</i>
						<p class="grey-text">A place of the conference:</p>
						<span class="title">multifunction assembly hall, building E, campus of the Witelon University in Legnica</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>