<div class="section" id="publications">
	<div class="container">
		<h4>Publications</h4>
		<p>The articles, accepted by two reviewers, will be printed in the Witelon University science notes (ISSN 1896-8333, 7 impact factors), <a href="www.zn.pwsz.legnica.edu.pl"	target="_blank">www.zn.pwsz.legnica.edu.pl</a></p>
	</div>
</div>