<footer class="page-footer custom-page-footer light-blue lighten-2">
	<div class="footer-copyright custom-footer-copyright">
		<div class="container">
			built with PHP and <a class="white-text" href="http://materializecss.com">Materialize</a>
			<span class="right"><a class="white-text" href="http://rewak.pl/" target="_blank">Krzysztof Rewak</a> 2018</span>
		</div>
	</div>
</footer>