<div id="landing">
	<div class="subtitle custom-subtitle">First International Conference</div>
	<img src="images/logo-trimmed.png">
	<div class="title custom-title">Cloud Computing and Virtualization</div>
	<div class="subtitle custom-subtitle">Theory and Application in Teaching Processes <strong>CCV'2018</strong></div>
</div>