<nav class="light-blue lighten-2" role="navigation" id="navigation">
	<div class="nav-wrapper custom-nav-wrapper container">
		<div id="logo-container"  class="custom-logo-container">
			<div class="custom-logo"></div>
			<span class="custom-logo-text">Cloud computing and virtualization</span>
		</div>
		<button class="menu-mobile"></button>
		<div class="menu-option first-menu-option"><a href="#plan">Plan</a></div>
		<div class="menu-option second-menu-option"><a href="#details">Date and Fees</a></div>
		<div class="menu-option third-menu-option"><a href="#organization">Organization</a></div>
		<div class="menu-option fourth-menu-option"><a href="#participants">Participants</a></div>
		<div class="menu-option fifth-menu-option"><a href="#contact">Registration</a></div>
		<div class="menu-option sixth-menu-option"><a href="http://www.pwsz.legnica.edu.pl/" target="_blank">PWSZ</a></div>
	</div>
</nav>