<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
		<title>Cloud Computing and Virtualization 2018</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Montserrat" rel="stylesheet">
		<link href="/styles/style.css" rel="stylesheet">
		<link href="/styles/custom-style.css" rel="stylesheet">
		<link href="/styles/dark-theme.css" rel="stylesheet">
		<link href="/styles/bulb.css" rel="stylesheet">
	</head>
	<body>
		<main>
			{% include "layout/landing.html" %}
			{% include "layout/navbar.html" %}
			{% include "sections/about.html" %}
			{% include "partials/parallax.html" with { "image": "clouds" } %}
			{% include "sections/plan.html" %}
			{% include "sections/map.html" %}
			{% include "sections/details.html" %}
			{% include "sections/publications.html" %}
			{% include "partials/parallax.html" with { "image": "data" } %}
			{% include "sections/organization.html" %}
			{% include "partials/parallax.html" with { "image": "servers" } %}
			{% include "sections/participants.html" %}
			{% include "sections/contact.html" %}
			{% include "sections/organizers.html" %}
			{% include "sections/bulb.html" %}
		</main>

		{% include "layout/footer.html" %}

		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
		
		<script src="/scripts/materialize.js"></script>
		<script src="/scripts/map.js"></script>
		<script src="/scripts/contactform.js"></script>
		<script src="/scripts/scrollVanillaJS.js"></script>
		<script src="/scripts/mobile-menu.js"></script>
		<script src="/scripts/darkThemeSwitch.js"></script>
		

		<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ env('GOOGLE_MAPS_API_KEY') }}&callback=initMap"></script>
	</body>
</html>