*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.bulb {
    top: 100%;
    left: 100%;
    width: 100px;
    height: 100px;
    padding: 9em 1.5em 0 1.5em;
    text-align: center;	
    font-size: 5px;
    transform: translate(-100%, -100%) rotate(-90deg);
    position: fixed;
}

.bulb .l {
    line-height: 1.5;
    display: block;
	margin-bottom: 1.5em;
	background-color: rgba(0,0,0,0.7);
	border-radius: 0.75em;
	box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.3) inset;
	color: #fdea7b;
	font-size: 5em;
	display: inline-flex;
	align-items: center;
	margin: auto;
	padding: 0.15em;
	width: 3em;
	height: 1.5em;
	transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
	-webkit-appearance: none;
	-moz-appearance: none;
    appearance: none;
    z-index: 999999;
    opacity: 1;
    position: static;
    pointer-events: all;
}

.bulb .l:before, .bulb .l:after {
	content: "";
	display: block;
}

.bulb .l:before {
	background-color: #d7d7d7;
	border-radius: 50%;
	width: 1.2em;
	height: 1.2em;
	transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	z-index: 1;
}

.bulb .l:after {
	background:
		linear-gradient(transparent 50%, rgba(0,0,0,0.15) 0) 0 50% / 50% 100%,
		repeating-linear-gradient(90deg,#bbb 0,#bbb,#bbb 20%,#999 20%,#999 40%) 0 50% / 50% 100%,
		radial-gradient(circle at 50% 50%,#888 25%, transparent 26%);
	background-repeat: no-repeat;
	border: 0.25em solid transparent;
	border-left: 0.4em solid #d8d8d8;
	border-right: 0 solid transparent;
	transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	transform: translateX(-22.5%);
	transform-origin: 25% 50%;
	width: 1.2em;
	height: 1em;
}

.bulb .l:checked {
	background-color: rgba(0,0,0,0.45);
	box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.1) inset;
}

.bulb .l:checked:before {
	background-color: currentColor;
	transform: translateX(125%)
}

.bulb .l:checked:after {
	border-left-color: currentColor;
	transform: translateX(-2.5%) rotateY(180deg);
}

.bulb .l:focus {
	outline: 0;
}

@supports (-ms-ime-align: auto) {
	.bulb {
		transform: translate(-100%, -100%) rotate(0deg);
	}
	.bulb .l {
		  width: 1.7em;
		  height: 1.7em;
		  padding: 0.5em;
	}
  }