.container {
    max-width: 100% !important;
}
@keyframes menu-mobile-animation {
    0%   {color: rgba(0,0,0,0); }
    100% {color: rgba(255,255,255,1); }
}

@keyframes menu-container-mobile-animation {
    0%   {height: 100px;}
    100% {height: 100%;}
}

/* navbar */

.custom-nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}

nav .custom-nav-wrapper .custom-logo-container {
    position: static;
    width: 45%;
    height: 100%;
    transform: translate(0%);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-logo {
    width: 30%;
    height: 100%;
    background: url('/images/logo.png') no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.custom-logo-text {
    width: 70%;
    height: 100%;
    line-height: 1.4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-option {
    line-height: 1.4;
    height: 100%;
    font-size: 1em;
}

.menu-option:hover {
    background-color: #90DBFF;
}

.first-menu-option {
    width: 7%;
}

.second-menu-option {
    width: 13%;
}

.third-menu-option {
    width: 10%;
}

.fourth-menu-option {
    width: 10%;
}

.fifth-menu-option {
    width: 9%;
}

.sixth-menu-option {
    width: 6%;
}

.menu-option a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-mobile {
    width: 32px;
    height: 32px;
    background: url('/images/button.png') no-repeat center; 
    background-size: contain;
    background-color: rgba(0,0,0,0);
    border: 0;
    visibility: hidden;
    display: none;
}

.menu-mobile:focus {
    background-color: rgba(0,0,0,0);
}

.mobile-container-displayed {
    top: 0;
    z-index: 9999999999;
    position: fixed;
    animation-name: menu-container-mobile-animation;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.mobile-container-displayed .custom-nav-wrapper {
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.mobile-container-displayed .custom-nav-wrapper .custom-logo-container {
    height: 100px;
    width: 80%;
    margin-right: 20%;
    transition: 0s;
}

.mobile-container-displayed .custom-nav-wrapper .custom-logo-container .custom-logo {

}

.mobile-container-displayed .mobile-button-clicked {
    position: fixed;
    top: 50px;
    transform: translate(0%, -50%);
    right: 0%;
}

.mobile-container-displayed .menu-option {
    visibility: visible;
    display: block;
    width: 90%;
    height: 13.3333333333%;
    font-size: 2rem;
    border-bottom: 1px solid #90DBFF;
    margin-left: 0;
}

nav.mobile-container-displayed a {
    animation-name: menu-mobile-animation;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@media only screen and (max-width: 900px) {
    .custom-nav-wrapper {
        justify-content: space-between;
    }
    nav .custom-nav-wrapper .custom-logo-container {
        width: 80%;
    }

    .menu-option {
        visibility: hidden;
        display: none; 
    }

    .menu-mobile {
        margin-right: 4%;
        visibility: visible;
        display: block;
    }

    .custom-logo-text {
        justify-content: flex-start;
    }

    nav {
        transition: 0s;
    }

    nav a  {
        color: rgba(0,0,0,0);
        transition-duration: 3s;
    }

}

/* landing */

@media only screen and (max-width: 900px) {
    #landing .custom-title {
        margin-left: 1em;
        margin-right: 1em;
        font-size: 3.5em;
    }

    #landing .custom-subtitle {
        margin-left: 1em;
        margin-right: 1em;
        font-size: 1.8em;
    }

    #landing img {
        max-width: 40%;
    }
}

/* footer */

.custom-page-footer {
	padding-top: 0;
}
.page-footer .custom-footer-copyright {
	background-color: rgba(0,0,0,0);
}

/* details */

.collection .custom-collection-item {
	padding: 20px 20px;
}

.container h4 {
    margin-bottom: 35px;
    font-size: 2.65rem;
}

/*organization*/

.row h5 {
    padding: 5px 0px 10px 0px;
}