/* 
#262626 tło 
#323232 tło2

border-bottom: 1px solid #222;
box-shadow: 0 1px 0 #262626;
menu

#CCC; czcionka 0 -2px rgba(0,0,0,.8);

#e449e9 orchid














*/





.dark-theme nav, .dark-theme nav a {
    color: #CCC !important;
    text-shadow: 0 -2px rgba(0,0,0,.8) !important;
}
.dark-theme .menu-option:hover{
    background-color: #323232 !important;
}

.dark-theme #landing {
    background: url('/images/bg-clouds.jpg') no-repeat center;
    background-size: cover;

}

.dark-theme .light-blue.lighten-2 {
    background-color: #e449e9 !important;
}
.dark-theme .light-blue-text.lighten-2 {
    color: #e449e9 !important;
}
.dark-theme nav.light-blue.lighten-2 {
    background-color: #262626 !important;
    border-bottom: 1px solid #222 !important;
    box-shadow: 0 1px 0 #262626 !important;

}
.dark-theme {
    background-color: #323232 !important;
    color: #A9A9A9 !important;

}
.dark-theme .collection-item {
    background-color: #323232 !important;
    border-bottom: 1px solid #4B4B4B !important;
}

.dark-theme footer.page-footer.light-blue.lighten-2 {
    background-color: #262626 !important;
    border-top: 1px solid #222 !important;
   
}
.dark-theme .white-text{
    color: #CCC !important;
    text-shadow: 0 -2px rgba(0,0,0,.8) !important;
}
.dark-theme .mobile-container-displayed .menu-option {
    border-bottom: 1px solid #e449e9 !important;

}
.dark-theme .parallax-container {
    height: 320px !important;
}