body { display: flex; min-height: 100vh; flex-direction: column; }
main { flex: 1 0 auto; }
nav { height: 100px; line-height: 100px; font-family: "Montserrat"; transition: all 0.5s linear; }

.section { padding: 5em 3em 5em 3em; } /*z 5 na 3*/
.brand-logo { width: 100%; }
.logo { width: 96px; vertical-align: middle; }

.collection { border: none; }
.collection-item { min-height: 0px !important; }

.parallax-container { height: 320px; }

#landing { background: url("/images/landing.jpg"); min-height: 100vh; font-family: "Montserrat"; color: White; display: flex; align-items: center; justify-content: center; flex-direction: column; padding: 3em 0px; }
#landing .subtitle { font-size: 2em; text-align: center; margin: .75em; }
#landing .title { font-size: 4em; text-align: center; }
#landing img { max-width: 25%; }

#navigation.fixed { position: fixed; z-index: 1000; top: 0px; }
#navigation.fixed + #about { margin-top: 100px; }

#about p, #about li span { font-size: 125%; }
#about p { text-align: justify; text-indent: 3em; }

#plan .row { position: relative; }
#plan .place { position: absolute; bottom: 0px; }

#map { height: 520px; width: 100%; }

#publications p { font-size: 125%; text-align: justify; text-indent: 3em; }

.input-field input:focus + label, .input-field textarea:focus + label { color: #4fc3f7 !important; }
.input-field input:focus, .input-field textarea:focus { border-bottom: 1px solid #4fc3f7 !important; box-shadow: 0 1px 0 0 #4fc3f7 !important; }

.error input, .error textarea { border-bottom: 1px solid Red !important; box-shadow: 0 1px 0 0 Red !important; }
.error label { color: Red !important; }
.error-bag { color: Red; }

.loading { -webkit-animation: rotation 2s infinite linear; }

#organizers { text-align: center; }
#organizers img { width: 75%; }

@-webkit-keyframes rotation {
	from { -webkit-transform: rotate(359deg); }
	to { -webkit-transform: rotate(0deg); }
}
